---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home">
	<section class="mobile">
        <h1> Please Load This Website on Desktop/Laptop Only Thanks</h1>
    </section>
    <section class="qoute-con">
        <main id="main-con">
            <div class="main-content">
                
            </div>
        </main>
    </section>
    <section class="qoute-sec">
        <main class="qoute-infoyo">
            <div class="qoute-content">
                <p>Kendrick Lamar Duckworth, born June 17, 1987, in Compton, California, rose 
                    from a high-crime neighborhood to become one of hip-hop's most acclaimed artists, 
                    blending West Coast roots with introspective lyrics on social issues, African-American culture, 
                    and personal struggles. He began rapping in high school as K.Dot, releasing his 
                    first mixtape Youngest Head Nigga in Charge in 2003, and signed with Top Dawg 
                    Entertainment (TDE) in 2005, later co-founding the supergroup Black Hippy. His 
                    major-label debut good kid, m.A.A.d city (2012) marked a breakthrough, followed by critically praised albums like To Pimp a Butterfly (2015) and DAMN. (2017), the latter earning him the Pulitzer Prize for Music, the first for a non-jazz or classical artist</p>
            </div>
            <div class="qoute-pic">
                <img class="qoute-image" src="images/kendrick.png" alt="">
            </div>
        </main>
    </section>
    <section class="fact-info">
        <main class>
            <div class="headings">
            <h2>Some of His Songs</h2>
            </div>
        <ol class="olcontainer">
        <li>
            <iframe class="framei" style="--r:-15;" src="https://open.spotify.com/embed/track/6AI3ezQ4o3HUoP6Dhudph3?si=5b264d0fffc64f8b"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
             <iframe class="framei" style="--r:5;" src="https://open.spotify.com/embed/track/7KXjTSCq5nL1LoYtL7XAwS?si=ae1ce333e7b74e2a"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
            <iframe class="framei" style="--r:25;" src="https://open.spotify.com/embed/track/6BU1RZexmvJcBjgagVVt3M?si=07227c8cebf94a72"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
            <iframe class="framei" style="--r:-15;" src="https://open.spotify.com/embed/track/3ODXRUPL44f04cCacwiCLC?si=7d0d36092b854cbc"  frameBorder="0" loading="lazy"></iframe>
        </li>
       
        
    </ol>
        </main>
    </section>
    <section class="fact-info">
        <main class>
            <div class="headings">
            <h2>Some of His Albums</h2>
            </div>
        <ol class="olcontainer">
        <li>
            <iframe class="framei" style="--r:-15;" src="https://open.spotify.com/embed/album/4eLPsYPBmXABThSJ821sqY?si=krMkfGePSmeUnbmlcpuetw"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
             <iframe class="framei" style="--r:5;" src="https://open.spotify.com/embed/album/748dZDqSZy6aPXKcI9H80u?si=gk1t_jEAQduvOiXxSYagsw"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
            <iframe class="framei" style="--r:25;" src="https://open.spotify.com/embed/album/79ONNoS4M9tfIA1mYLBYVX?si=OAi2OlVUSg2ZwhKpCk1TSA"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
            <iframe class="framei" style="--r:-15;" src="https://open.spotify.com/embed/album/0hvT3yIEysuuvkK73vgdcW?si=zcgpnv1IR7G0nErgUKpdYw"  frameBorder="0" loading="lazy"></iframe>
        </li>
        
    </ol>
        </main>
    </section>
</Layout>