---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home">
	<section class="mobile">
        <h1> PLease Load This Website on Desktop/Laptop Only Thanks</h1>
    </section>
    <section class="qoute-con">
        <main id="main-con">
            <div class="main-content">
                
            </div>
        </main>
    </section>
    <section class="qoute-sec">
        <main class="qoute-info">
            <div class="qoute-content">
                <img class="quote-icon" src="icons/qoute icon.svg" alt=""> <br>
                <quote>"A person grows up when he’s able to overcome hardships. Protection is important, but there are
                     some things that a person must learn on his own." </quote>
                <p>- Jiraiya Sensei</p>
            </div>
            <div class="qoute-pic">
                <img class="qoute-image" src="images/kendrick.png" alt="">
            </div>
        </main>
    </section>
    <section class="fact-info">
        <main class>
            <div class="headings">
            <h2>Some of His Albums</h2>
            </div>
        <ol class="olcontainer">
        <li>
            <iframe class="framei" style="--r:-15;" src="https://open.spotify.com/embed/album/4eLPsYPBmXABThSJ821sqY?si=krMkfGePSmeUnbmlcpuetw"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
             <iframe class="framei" style="--r:5;" src="https://open.spotify.com/embed/track/6AI3ezQ4o3HUoP6Dhudph3?si=faa85ef2b4024df4"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
            <iframe class="framei" style="--r:25;" src="https://open.spotify.com/embed/track/6AI3ezQ4o3HUoP6Dhudph3?si=faa85ef2b4024df4"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
            <iframe class="framei" style="--r:-15;" src="https://open.spotify.com/embed/track/6AI3ezQ4o3HUoP6Dhudph3?si=faa85ef2b4024df4"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
            <iframe class="framei" style="--r:5;" src="https://open.spotify.com/embed/track/6AI3ezQ4o3HUoP6Dhudph3?si=faa85ef2b4024df4"  frameBorder="0" loading="lazy"></iframe>
        </li>
        
    </ol>
        </main>
    </section>
    <section class="fact-info">
        <main class>
            <div class="headings">
            <h2>Some of His Albums</h2>
            </div>
        <ol class="olcontainer">
        <li>
            <iframe class="framei" style="--r:-15;" src="https://open.spotify.com/embed/album/4eLPsYPBmXABThSJ821sqY?si=krMkfGePSmeUnbmlcpuetw"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
             <iframe class="framei" style="--r:5;" src="https://open.spotify.com/embed/track/6AI3ezQ4o3HUoP6Dhudph3?si=faa85ef2b4024df4"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
            <iframe class="framei" style="--r:25;" src="https://open.spotify.com/embed/track/6AI3ezQ4o3HUoP6Dhudph3?si=faa85ef2b4024df4"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
            <iframe class="framei" style="--r:-15;" src="https://open.spotify.com/embed/track/6AI3ezQ4o3HUoP6Dhudph3?si=faa85ef2b4024df4"  frameBorder="0" loading="lazy"></iframe>
        </li>
        <li>
            <iframe class="framei" style="--r:5;" src="https://open.spotify.com/embed/track/6AI3ezQ4o3HUoP6Dhudph3?si=faa85ef2b4024df4"  frameBorder="0" loading="lazy"></iframe>
        </li>
        
    </ol>
        </main>
    </section>
</Layout>