---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
    <section id="hero-sec">
        <main id="main-con">
            <div class="main-content">
				
            </div>
        </main>
    </section>
  <main class="container">
    <h1>Blog</h1>
    <ul>
      <li><a href="/post/first-post">My First Astro Blog Post</a></li>
      <li><a href="/post/another-post">Another Post</a></li>
    </ul>
  </main>
  <section id="profile-sec">
        <main class="pro-info">
            <div class="pro-pic"></div>
            <div class="pro-content">
                <div class="pro-name">
                    <h2>Kendrick Lamar</h2>
                    <p> K.DOT</p>
                </div>
                <div class="pro-details">
                	<div class="pro-details1">
						<p class="main-para">
							Kendrick Lamar Duckworth is an American rapper, songwriter, and record producer. 
							He is widely regarded as one of the most influential and skilled lyricists in contemporary hip-hop.
						</p>        
                    </div>
                </div>
            </div>
        </main>
    </section>
</Layout>