<footer>
        <div class="footer-top">            
            <div class="links">
                <div>
                    <a href="https://www.griffith.ie/" target="_blank" class="griffith-link">
                    <img class="griffith" src="assets/images/Griffith icon.svg" alt="">
                    </a>
                </div>
                <div class="links-click">
                    <a href="index.html" class="it-link">
                        <span>Profile</span>
                    </a>
                    <a href="Resume.html" class="it-link">
                        <span>Resume</span>
                    </a>
                    <a href="Facts.html" class="it-link">
                        <span>Facts</span>
                    </a>
                    <a href="Quotes.html" class="it-link">
                        <span>Qoute</span>
                    </a>    
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="copyright">
                © 2025 Samuel Awoniyi: 3165438. All rights reserved.
        </div>
    </footer>