<footer>
        <div class="footer-top">            
            <div class="links">
                <div>
                    <a href="https://www.griffith.ie/" target="_blank" class="griffith-link">
                    <img class="griffith" src="/images/Griffithicon.svg" alt="">
                    </a>
                </div>
                <div class="links-click">
                    <a href="/" class="it-link">
                        <span>Home</span>
                    </a>
                    <a href="/About" class="it-link">
                        <span>About</span>
                    </a>
                    <a href="/News" class="it-link">
                        <span>News</span>
                    </a>
                    <a href="/Playlist" class="it-link">
                        <span>Playlist</span>
                    </a>    
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="copyright">
                © 2025 Samuel Awoniyi: 3165438. All rights reserved.
        </div>
    </footer>