<header class="main-header">
       <nav id="navbar">
            <div class="nav-container">
                <a href="/" class="logo">
                    <div class="logo-icon">😎</div>
                    <div class="logo-text">Kendrick Lamar</div>
                </a>
                <ul class="nav-a">
                    <li><a href="/">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/News">News</a></li>
                    <li><a href="/Playlist">Playlist</a></li>
                </ul>
            </div>
        </nav> 
    </header>