<header class="main-header">
       <nav id="navbar">
            <div class="nav-container">
                <a href="index.html" class="logo">
                    <div class="logo-icon">🧙‍♂️</div>
                    <div class="logo-text">Samuel Wiz</div>
                </a>
                <ul class="nav-a">
                    <li><a href="index.html">Profile</a></li>
                    <li><a href="Resume.html">Resume</a></li>
                    <li><a href="Facts.html">Facts</a></li>
                    <li><a href="Quotes.html">Qoute</a></li>
                </ul>
            </div>
        </nav> 
    </header>